<div layout="row" ng-if="metadata.images">

    <button ng-if="current.editable">
        <i class="fa fa-edit fa-3x" aria-hidden="true" style="color:green" ng-click="startEditImage()"></i>
    </button>

    <button ng-if="canUp()">
        <i class="fa fa-arrow-up fa-3x" aria-hidden="true" style="color:green" ng-click="moveUp()"></i>
    </button>

    <button ng-if="canDown()">
        <i class="fa fa-arrow-down fa-3x" aria-hidden="true" style="color:green" ng-click="moveDown()"></i>
    </button>

    <button ng-if="canLeft()">
        <i class="fa fa-arrow-left fa-3x" aria-hidden="true" style="color:green" ng-click="moveLeft()"></i>
    </button>

    <button ng-if="canRight()">
        <i class="fa fa-arrow-right fa-3x" aria-hidden="true" style="color:green" ng-click="moveRight()"></i>
    </button>

    <md-input-container>
        <label>Tag</label>
        <md-select name="selection.tag" ng-model="selection.tag" ng-change="showImage()">
            <md-option ng-value="k" ng-repeat="(k,v) in current.operation">{{v}}</md-option>
        </md-select>
    </md-input-container>

</div>


