<div layout="row">

    <div>
        <md-input-container class="md-block">
            <label>Current Prefix</label>
            <textarea ng-model="current.prefix" rows="1"></textarea>
        </md-input-container>

    </div>
    <div pull-right>
        <a class="btn btn-danger" ng-click="selectPrefix()">
            Select
        </a>
        <a class="btn btn-success" ng-click="changeCurrent()">
            Change
        </a>
    </div>
</div>

<div layout="row" ng-if="status.selectPrefix">
    <md-input-container flex="50">
        <label>Prefix Selection</label>
        <md-select name="current.prefix" ng-model="current.prefix" ng-change="doneSelectPrefix()">
            <md-option ng-value="g" ng-repeat="g in prefixSelections">{{g}}</md-option>
        </md-select>
    </md-input-container>
</div>
