<div layout="row">

    <div>
        <label>Current Prefix : {{current.prefix}} </label>
        <a class="btn btn-danger" ng-click="selectPrefix()">
            Select
        </a>
        
    </div>
</div>

<div layout="row" ng-if="status.selectPrefix">
    <md-input-container flex="50">
        <label>Prefix Selection</label>
        <md-select name="current.prefix" ng-model="current.prefix" ng-change="doneSelectPrefixBrowseContour()">
            <md-option ng-value="g[0]" ng-repeat="g in prefixSelections">{{g[1]}}</md-option>
        </md-select>
    </md-input-container>
</div>
