<div layout="row">

    <md-input-container class="md-block">
        <label> Current Prefix </label>
        <input ng-model="current.prefix" required md-no-asterisk>
    </md-input-container>
</div>