@{
    ViewData["Title"] = "Browse";
}

<div class="container body-content" ng-app="fileUpload" ng-controller="MyCtrl">

    <div class="modal-content">

        <br />
        <br />
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="submitModalLabel">Browse Image</h2>
        </div>

        <partial name="_PrefixView" />


        <img ng-src="{{currentImage}}" ng-if="currentImage">
        <div ng-if="currentImage">
            <label>{{currentImage}}</label>
        </div>

        <partial name="_SelectImage" />
    </div>


</div>

<script src="~/lib/remote-sensing/remote-sensing.js"></script>