@{
    ViewData["Title"] = "Upload";
}

<div class="container body-content" ng-app="fileUpload" ng-controller="MyCtrl" >

    <div class="modal-content">

        </br>
        </br>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="submitModalLabel">Upload Image</h2>
        </div>


        <div layout="row">

            <md-input-container class="md-block">
                <label> Current Prefix </label>
                <input ng-model="current.prefix" required md-no-asterisk>
            </md-input-container>
        </div>

        <form name="form">

            <input type="file" ngf-select ng-model="picFile" name="file"
                   accept="image/*" ngf-max-size="1000MB" required
                   ngf-model-invalid="errorFile">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">
                File too large
                {{errorFile.size / 100000000|number:1000}}MB: max 1000M
            </i>
            <img class="img-responsive" ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
            <br>
            
            <span ng-show="picFile.result">Upload Successful</span>
            <h2 ng-if="errorMsg">
                Error:
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </h2>
            </fieldset>
            <br>

            <h2>
               
                <ul>
                    <li ng-repeat="oneinfo in info">{{oneinfo}}</li>
                </ul>
            </h2>

        </form>


        <div class="modal-footer">
            <a class="btn pull-right btn-danger" ng-click="submitJob()">
                Clear
            </a>

            <a class="btn pull-right btn-success" ng-click="submitJob()">
                Upload Image
            </a>
        </div>
    </div>
        <!--
    <div layout="row">
        <md-input-container flex="50">
            <label>Job template</label>
            <md-select name="curtemplateValue" ng-model="curtemplateValue" ng-change="showTemplate()">
                <md-option ng-value="{{g.Value}}" ng-repeat="g in joblist">{{ g.Text }}</md-option>
            </md-select>
        </md-input-container>
    </div>-->


</div>
        <script>
            var app = angular.module("fileUpload", ["xeditable", "ui.select", "ngMaterial", 'ngMessages', "ngFileUpload"]);

            app.run(function (editableOptions) {
                editableOptions.theme = 'bs3';
            });

            app.controller('MyCtrl', ["$scope", "$filter", "$http", "$log", "$timeout", "Upload", function ($scope, $filter, $http, $log, $timeout, Upload) {
                $scope.submit = function () {
                    if ($scope.form.file.$valid && $scope.file) {
                        $scope.upload($scope.file);
                    }
                };

                $scope.clearResult = function () {
                    $scope.info = [];
                    delete $scope.errorMsg;
                };

                $scope.uploadPic = function (file) {
                    file.upload = Upload.upload({
                        url: '../Recog/Recog/RecogImage',
                        data: { file: file },
                    });

                    // upload on file select or drop
                    file.upload.then(function (response) {
                        $scope.imagename = response.data.result.file.output;
                        $scope.info = $scope.imagename.split("\n").filter(function (el) { return el.length != 0 });
                    }, function (response) {
                        if (response.status > 0)
                            $scope.errorMsg = response.status + ': ' + response.data;
                    }, function (evt) {
                        // Math.min is to fix IE which reports 200% sometimes
                        file.progress = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
                    });
                };

            }]);


            



        </script>
